KUBELET_OPTS="--api-servers={{ kube_api_servers }} \
  --cluster-domain={{ kube['cluster-domain'] }} \
  --allow-privileged=true \
  --cluster-dns={{ kube['cluster-dns'] }} \
  --config=/etc/kubernetes/manifests"

# --pod-infra-container-image="gcr.io/google_containers/pause:2.0"