current-context: default-context
apiVersion: v1
clusters:
- cluster:
    certificate-authority: /etc/kubernetes/ssl/ca.crt
    server: {{ kube_api_servers }}
  name: local-cluster
contexts:
- context:
    cluster: local-cluster
    user: kubelet
  name: default-context
kind: Config
preferences:
  colors: true
users:
- name: kubelet
  user:
    client-certificate: /etc/kubernetes/ssl/worker.crt
    client-key: /etc/kubernetes/ssl/worker.key
