KUBELET_OPTS="--api-servers={{ kube_api_servers }} \
  --cluster-domain={{ kube['cluster-domain'] }} \
  --allow-privileged=true \
  --cluster-dns={{ kube['cluster-dns'] }} \
  --config=/etc/kubernetes/manifests"