apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ item.name }}
spec:
  capacity:
    storage: {{ item.cap }}
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Recycle
  glusterfs:
    endpoints: glusterfs-cluster
    path: {{ item.vol }}
    readOnly: false