apiVersion: v1
kind: Endpoints
metadata:
  name: glusterfs-cluster
subsets:
- addresses:
{% for item in groups['glusters'] %}
  - ip: {{ hostvars[item]['ansible_' + glusterfs_ifac].ipv4.address }}
{% endfor %}
  ports:
  - port: 1