kind: PersistentVolume
apiVersion: v1
metadata:
  name: pv-{{ item.name }}
spec:
  capacity:
    storage: {{ item.size }}
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Recycle
  hostPath:
    path: {{ item.path }}